table,th,tr{
    border:solid 3px white;
    border-collapse: collapse;
    margin-left:85px;
    margin-top: 70px;
    padding:25px;
}
.rotate{
    -webkit-transform: rotate(90deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(90deg);  /* IE 9 */
          transform: rotate(271deg);
           /* font-size: ;  */
          width:5%;
}
.head{
    font-family:Arial, Helvetica, sans-serif
}
.assess{
    background-color: rgb(198, 139, 239);
    
}
/* #section{
    background-color: rgb(220, 196, 240);
} */
.table2{
    border:solid 1px white;
    width:80%;
   
}
.mytr{
  border: 1px solid white;
  background-color: rgb(220, 196, 240);
}

.myth{
    border: 3px solid white;
    width: 16px;

}
